* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    160deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(232, 255, 0, 1) 100%
  );
  height: 100vh;
}

.App {
  width: 50%;
  margin: auto;
  text-align: center;
}

.header-img {
  width: 50%;
  margin: 2rem auto 4rem auto;
}

.main-div {
  text-align: left;
}

input {
  height: 2rem;
  margin-right: 0.5rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  background: hsl(0, 0%, 0%, 0.1);
}

.search-button {
  background-color: transparent;
  height: 2rem;
  border: none;
  padding: 0.3rem;
  outline: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.collection-button {
  padding: 0.3rem;
  cursor: pointer;
  background: linear-gradient(
    160deg,
    rgba(38, 56, 186, 1) 0%,
    rgba(130, 131, 205, 1) 100%
  );
  outline: none;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.collection-button:hover {
  background: linear-gradient(
    160deg,
    rgba(130, 131, 205, 1) 0%,
    rgba(38, 56, 186, 1) 100%
  );
}

.collection-div {
  position: relative;
  bottom: 4.5rem;
  text-align: center;
  background: hsl(0, 0%, 0%, 0.1);
  border-radius: 5px;
}

.collection-div ul {
  width: 20rem;
  height: 12rem;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.collection-div ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.collection-div ul li img {
  width: 9.5rem;
}

.info-div {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}

.pokemon-div {
  height: 15rem;
}

.pokemon-div li {
  width: 15rem;
  font-size: 1.3rem;
  list-style: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
}

.pokemon-div li span {
  cursor: pointer;
}

.pokemon-list-div {
  background: hsl(0, 0%, 0%, 0.1);
  border-radius: 5px;
}

.pokemon-list-div ul {
  width: 100%;
  height: 14rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  list-style: none;
}

.pokemon-list-div ul li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.pokemon-div img {
  width: 10rem;
}

.img-button-div {
  display: flex;
}

.img-button-div button {
  cursor: pointer;
  width: 4rem;
  height: 1.5rem;
  margin-top: 4.2rem;
  background: linear-gradient(
    160deg,
    rgba(38, 56, 186, 1) 0%,
    rgba(130, 131, 205, 1) 100%
  );
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  padding: 0.2rem;
}

.img-button-div button:hover {
  background: linear-gradient(
    160deg,
    rgba(130, 131, 205, 1) 0%,
    rgba(38, 56, 186, 1) 100%
  );
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

small {
  position: relative;
  top: 1rem;
}
